<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Welcome</title>
</head>
<body>
    <video controls muted autoplay="autoplay" loop="true" height="500" width="500">
        <source src="{{ url_for('static' , filename='home.mp4') }}" type="video/mp4">
    </video>
    <h1>Welcome to FindMyDairyFarmer</h1>    
    <a class="first" href="{{url_for('form')}}">Click here to register </a>
    <a class="second" href="{{url_for('get_login')}}">Login Here</a>
</body>
</html>